body {
  font-family: sans-serif;
  text-align: center;
  background-color: #0f0f0f;
  color: white;
}

h1 {
  margin-top: 20px;
}

canvas {
  background-color: #222;
  border: 2px solid #fff;
  margin-top: 10px;
}

.controls {
  margin: 20px auto;
}

.controls button {
  font-size: 2rem;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
}

.controls button:hover {
  background-color: #666;
}

#ui {
  margin-top: 10px;
}
